.btn {
  height: 4rem;
  width: 9rem;
  margin: 0 0.8rem;
  border: none;
  border-radius: 0.5rem;
}

.btn-minus {
  background-color: #fa4141;
}

.btn-plus {
  background-color: #69fa84;
}

.operation {
  font-size: 28px;
  margin: auto;
}